.navbar.navbar-default.navbar-fixed-top
  .container
    img(class='col-md-10, col-md-offset-1', src='/images/banner_new.png')
    .navbar-header
      //a(href='#')
        //img(class='navbar-logo', alt='Brand', src='/images/logo.png')
    div(id='navbar', class=['navbar-collapse','collapse'])
       .col-md-12.ul.nav.navbar-nav
         li.col-md-2.col-md-offset-1
           a(class=(menu === 'home' ? 'active' : ''), id='HOME', href='/#') HOME
         li.col-md-2
           a(class=(menu === 'membership' ? 'active' : ''), id='MEMBERSHIP', href='/membership') MEMBERSHIP
         li.col-md-2
           a(class=(menu === 'faq' ? 'active' : ''), id='FAQS', href='/faq') FAQS
         li.col-md-2
           a(class=(menu === 'event' ? 'active' : ''), id='EVENTS', href='/event') EVENTS
         li.col-md-2
           a(class=(menu === 'contact' ? 'active' : ''), id='CONTACT', href='/contact') CONTACT