extends layout

block content

	.container
		div.col-md-10.col-md-offset-1
			#event_subtitle
				| <br \> HERE IS A DRAFT OF THE EVENTS WE HAVE PLANNED FOR SEMESTER 1 2018! <br \>

			.row
				.col-md-4
					.div.event_element_title
						|Social Events <br \> 
					.p.event_element| Welcome Party <br \>
					.p.event_element| Meet & Mingle <br \>
					.p.event_element| Pub Crawl 
					.p.event_element| Sail Day
					.p.event_element| Rock Climbing
					.p.event_element| Trivia

					.div.event_element_title
						| Weekend trips
					.p.event_element| Stradbroke island
					.p.event_element| Noosa
					.p.event_element| Gold Coast Surf Trip
					.p.event_element| Byron Bay
					.p.event_element| Wet' N Wild
					.p.event_element| Sunshine Coast Hike
					.p.event_element| Surfing

				.col-md-8
					.embed-responsive.embed-responsive-16by9
						iframe.embed-responsive-item(src="https://www.youtube.com/embed/kBOKIbLSjSM")
					.event_image_div
						img.col-md-4.event_image(src='images/event/1.jpg')
						img.col-md-4.event_image(src='images/event/2.jpg')
						img.col-md-4.event_image(src='images/event/3.jpg')
						img.col-md-4.event_image(src='images/event/4.jpg')
						img.col-md-4.event_image(src='images/event/5.jpg')
						img.col-md-4.event_image(src='images/event/6.jpg')
