extends layout

block content

	.container
		div.col-md-10.col-md-offset-1
			div#index_title
				| Events
			#event_subtitle
				| We have an exciting line up events throughout the semester! <br \> We also have weekly bar nigths!

			.row
				.col-md-4
					.div.event_element_title
						|O Week <br \> 
					.p| After Party <br \>
					.p| Meet & Mingle <br \>
					.p| Sail Day

					.div.event_element_title
						| Week 1
					.p|Amazing Race

					.div.event_element_title
						| Week 2
					.p| Wet 'n' Wild

					.div.event_element_title
						| Week 3
					.p| Red Cup Olympics

					.div.event_element_title
						| Week 5
					.p| Stradbroke Island

					.div.event_element_title
						| Week 8
					.p| Springbrook Hike
					
					.div.event_element_title
						| Week 10
					.p| Moreton Island
					
					.div.event_element_title
						| Week 13
					.p| End of Semester Pub Crawl

				.col-md-8
					.embed-responsive.embed-responsive-16by9
						iframe.embed-responsive-item(src="https://www.youtube.com/embed/kBOKIbLSjSM")
					.event_image_div
						img.col-md-4.event_image(src='images/event/1.jpg')
						img.col-md-4.event_image(src='images/event/2.jpg')
						img.col-md-4.event_image(src='images/event/3.jpg')
						img.col-md-4.event_image(src='images/event/4.jpg')
						img.col-md-4.event_image(src='images/event/5.jpg')
						img.col-md-4.event_image(src='images/event/6.jpg')
