extends layout

block content

	.container
		div#index_title
			| Events
		#event_subtitle
			| We have an exciting line up events throughout the semester! <br \> We also have weekly bar nigths!

		.row
			.col-md-4
				.div.event_element_title
					|O Week <br \> 
				.p| After Party <br \>
				.p| Pub crawl <br \>
				.p| International Picnic

				.div.event_element_title
					| Week 1
				.p|Amazing Race

				.div.event_element_title
					| Week 2
				.p| Red Cup Olympics

				.div.event_element_title
					| Week 3
				.p| Stradbroke

				.div.event_element_title
					| Week 4
				.p| Theme Park

				.div.event_element_title
					| Week 5
				.p| Moreton Island
				
				.div.event_element_title
					| Week 6
				.p| Moreton Island
				
				.div.event_element_title
					| Week 7
				.p| Mid Semester Party

				.div.event_element_title
					| Week 10
				.p| Trivia

				.div.event_element_title
					| Week 13
				.p| End of Semester Pub Crawl
			.col-md-8
				.embed-responsive.embed-responsive-16by9
					iframe.embed-responsive-item(src="https://www.youtube.com/v/kBOKIbLSjSM")
				.event_image_div
					img.col-md-4.event_image(src='images/index/1.jpg')
					img.col-md-4.event_image(src='images/index/2.jpg')
					img.col-md-4.event_image(src='images/index/3.jpg')
					img.col-md-4.event_image(src='images/index/1.jpg')
					img.col-md-4.event_image(src='images/index/1.jpg')
					img.col-md-4.event_image(src='images/index/1.jpg')
