extends layout

block content
	.container
		div.col-md-10.col-md-offset-1
			.div#index_title
				| FAQS
			.div.faq_title 
				| I'm an international student. Can I be a buddy?
			.p| Yes any QUT student can be a buddy!
			.div.faq_title
				| I'm an international student. For my first semester at QUT can I join as an exchangie?
			.p| Unfortunately, we are only placing exchange students in buddy groups at the moment. However, you can still become a member and meet tons of new people from Brisbane and around the world!
			.div.faq_title 
				| I want to go to one of your events but I am not a QUT student. Can I still join?
			.p| As long as you are a tertiary student, and you have paid for membership, you can come to any of our events!
			.div.faq_title
				| How long does membership last for?
			.p| One year