extends layout

block content
	.container
		div.col-md-10.col-md-offset-1
			.div#index_title
				| FAQS
			.div.faq_title 
				| Im an international student can I be a buddy?
			.p| Yes any QUT student can be a buddy!
			.div.faq_title
				| I am an international student, and for my first semester at QUT  can I join as an exchangie?
			.p| Unfortunately we are only placing exchange students in buddy groups at the moment, however you can become a member and meet tons of new people!
			.div.faq_title 
				| I want to go to one of your events but I am not a QUT student can I still join?
			.p| As long as you are a student and you pay membership you can come to any of our events
			.div.faq_title
				| How long does membership last for?
			.p| One year