extends layout

block content

	.container
		div.col-md-10.col-md-offset-1
			div#index_title WHO ARE WE?

			p Queensland University of Technology Exchange Buddies (QUTEB) is a club run by students with a passion for giving exchange students an amazing semester abroad.

			p QUTEB offers a buddy service that allows exchange students to contact a QUT student with any questions before they arrive. Before each semester, QUT students can sign up to be a" buddy" and exchange students can sign up to be an "exchangie". When put together they form a "buddy group".

			p We have cut-off dates for the formation of buddy groups. After these dates, you are no longer eligible to be a buddy or exchangie. However, you can still become a member of QUTEB! You do not have to be in a buddy group to be a QUTEB member or participate in our events. Don't worry, you will still be able to bond with QUT students and other exchange students at our events throughout the semester. 

			p For more information about buddy groups, please refer to our membership section. 

	.index_image_div
		img.col-md-2.index_image(src='images/index/1.jpg')
		img.col-md-2.index_image(src='images/index/2.jpg')
		img.col-md-2.index_image(src='images/index/3.jpg')
		img.col-md-2.index_image(src='images/index/4.jpg')
		img.col-md-2.index_image(src='images/index/5.jpg')
		img.col-md-2.index_image(src='images/index/6.jpg')
