extends layout

block content

	.container
		div.col-md-10.col-md-offset-1
			div#index_title WHO ARE WE?

			p Queensland University of Technology Exchange Buddies (QUTEB) is a club run by a group of pasionate students who aim to give Exchange students the best experience possible. We offer a service within the club to allow QUT students bond with exchange students. At the start of the semester QUT students can sign up to be a buddy and exchange students can sign up to be an exchangie. We assign a few exchangies with a buddy and host events throughout the semester to allow each group to bond, and to also allow people to meet each other in general!
			 

			p A buddy is essentially a guide to the the exchange students, and are there to help them navigate and get to know Brisbane. In order for our system to work effectively we have cut off dates, as we need to organise groups and get people to start bonding. However if you want to be a part of the club and join our amazing events you can become a member at any time! All the information on how to be a member of the club can be found in the membership section.
