extends layout

block content

	.container
		.header-image.center.col-md-12
			div
				a(href="/")
					img(class='col-md-12',src='/images/banner.png')
		div.col-md-6
			img(class='col-md-12',src='/images/quteb_fire.jpg')

			p(class='col-md-12',id='index_quote') "QUTEB made my exchange experience so much better, seriously the best club in the world" - Jorgen, Denmark

		div.col-md-6
			p() In QUT Exchange buddies we always say: Let's put another shrimp on the barbie!
