extends layout

block content
	.container
		div.col-md-10.col-md-offset-1
			.row
				.col-md-6
					.div#index_title
						| Membership
					.p| There are 3 ways to become a QUTEB member:
					.p| 1. Before each semester, QUT students can sign up to be a buddy! You will be given 3-4 exchange students to create a "buddy group" before the semester begins<br />
					.p| 2. Before each semester Exchange students can sign up to have a buddy<br />
					.p| 3.  Due to organisational l reasons if you miss the deadlines to be apart of a buddy group, you can become a member<br /> 
					.p| Descriptions of each type of member are detailed below<br /> <br />
					.p #[a(href="https://qutebmemberships.getqpay.com/") BUY MEMBERSHIP HERE]

					.div.membership_title
						| BUDDY <br /> ONLY FOR QUT STUDENTS
					.p| A buddy is a QUT student who wants to volunteer their time to be part of a buddy group. As a buddy, you will be assigned 3-4 exchange students who you will contact and bond with throughout the semester. If you are interested in going overseas or making international friends this is the role for you! <br /> <br />
					.p.membership_subtitle|	CUT OF DAYS <br />
					.p.membership_subtitle| The cut off date to be a buddy for Semester 1 2018 is November 27th
			
					.div.membership_title
						| EXCHANGIE <br />
						| ONLY FOR EXCHANGE STUDENTS.
					.p| An exchangie is a foreign student on exchange for 1 or 2 semesters. If you are feeling a bit apprehensive about coming to Queensland and want to get to know some QUT students, make sure you sign up so we can put you in a group! You can choose to be in a group or to just be a member. For organisational reasons, only the first 120 exchange students who want to be in a group will be placed in one.  <br />
					.p.membership_subtitle|	CUT OFF DATES FOR 2018 SEMESTER 1 TO BE CONFIRMED
					
					div.membership_title
						| MEMBER
						| FOR ANYONE IN UNIVERSITY
					.p| If you want to be part of the club after the buddy group cut-offs, or just in general, you can become a member and come to our events! Don't worry if you don't end up in a buddy group - our events make it really easy to make friends :)
				
				.col-md-6.membership_image_div
					img.col-md-12.membership_image(src='images/membership/1.jpg')
					img.col-md-12.membership_image(src='images/membership/2.jpg')
					img.col-md-12.membership_image(src='images/membership/3.jpg')
					img.col-md-12.membership_image(src='images/membership/4.jpg')
