extends layout

block content
	.container
		.col-md-12
			.col-md-6
				
			.col-md-6.col-md-offset-6
				.div#index_title
					| Membership
				.p| You can become a member of the club in three ways. If you join the club before the 18th of November as a qut student you can sign up to be a buddy! If you are an exchange student who signs up before O week you will be assigned a buddy group! If you sign up after O week, due to organisational reasons you will just become a member. Descriptions of each type of member are detailed below. 

				.div.membership_title
					| BUDDY ONLY FOR QUT STUDENTS
				.p| A buddy is a QUT student who wants to volunteer their time to be apart of a buddy group. As a buddy you will be assigned 3-4 exchange students you will contact and bond with throughout the semester. If you are interested in going overseas or making international friends this is the role for you!

				.div.membership_title
					Dates
				.p| 18th of November - You must sign up to be a buddy before this date.
				| 9th of December - Buddy Camp. This camp is compulsory for EVERYONE who wants to be a buddy. If you don't want to be a buddy you can always become a member. Note: if you are going on exchange semester 1 2017 unfortunately you will not be able to attend the buddy camp as we need people for that semester.
				| The camp only costs $40 and includes membership! ( membership will be valid for next year)
		
				.div.membership_title
					| EXCHANGIE <br />
					| ONLY FOR EXCHANGE STUDENTS.
				.p| An exchangie is a foreign student on exchange. If you are feeling a bit apprehensive about coming to Queensland and want to get to know some QUT students make sure you sign up so we can put you in a group! You can choose to be in a group or just be a memebr. Due to organisational reason only the first 120 excahnge students who want to be in a group will be placed in one. 
				| Dates
				| Cut off to be a in a buddy group:
				| December 20th ( or until all spots are filled)
				| You will be contacted by your buddy by: January 27th ( one month before O week)
				| Cut off to be a member:
				| NEVER! you can join any time in the semester :)
				
				div.membership_title
					| MEMBER
					| FOR ANYONE IN UNIVERSITY
				.p| If you want to be apart of the club after the buddy group cut off or just in general, you can become a member and come to our events! Don't worry if you don't end up in a buddy group our events make it really easy to make friends :)