.navbar-logo {
  position: absolute;
  max-height: 80px;
  padding: 10px;
}
.navbar {
  background-color: #fff;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  background-color: #fff;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-item {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}
.navbar .nav > li > a,
.navbar .nav > li {
  line-height: 30px;
  color: #f2668f;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f2668f;
  border-top-style: solid;
}
.active {
  color: #f2668f;
  border-top-style: solid;
}
body {
  padding-top: 380px;
  font-size: 15px;
  color: #808080;
}
.header-image {
  height: 200px;
}
#index_title {
  color: #000;
  padding-bottom: 10px;
  style: bold;
  font-size: 20px;
}
.index_image_div {
  padding-top: 30px;
}
.index_image {
  max-width: 100%;
  object-fit: cover;
}
.portrait {
  padding: 5px;
}
